.utility-nav {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 18px;
    border-bottom: 1px solid black;
    
    a:hover {
        text-decoration: underline;
    }
    
    .phone-number {
        margin-right: 2vw;
    }
}

.primary-nav {
    .header__menu-list {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        
        .menu-item {
            width: 75px;
            margin: 0 0.5em;
            font-size: 20px;
            
            &:last-child {
                margin-right: 0;
            }
        }

        .menu-item-has-children {
            position: relative;

                &:hover {
                    .sub-menu {
                        display: block;
                        z-index: 100;
                    }
                }
        }

        .sub-menu {
            display: none;
            position: absolute;
            right: -23px;
            padding: 0;
            padding-top: 10px;
            list-style-type: none;
            
            li {
                background-color: #E09F38;
                width: auto;
                white-space: nowrap;
                margin: 0;
                padding: 0.5em 1em;
                color: white;
                
                &:hover {
                    background-color: #FFCF56;
                }
            }
        }

        a {
            text-decoration: none;
        }
    }
}