*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-width: 320px;
}

html {
	scroll-behavior: smooth;

	@media (min-width: 768px) {
		font-size: 22px;
	}
}

body {
	margin: 0;
}

a {
	color: inherit;

	// &:visited {
	// 	color: black;
	// }
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
