.callout {
    background-image: url(../../images/topography.png);
    background-size: cover;
    background-position: center;
    background-color: $brand-teal;
    color: white;
    height: fit-content;
    margin: 0 -4vw;
}

.callout__text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4em 0;
    
    p {
        max-width: 50%;
    }
}